openapi: 3.2.0
info:
  contact:
    email: contact@yousign.com
    name: Support
    url: https://yousign.com/contact
  description: Build the best experience of digital signature through your own platform. Increase your conversion rates, leverage your data and reduce your costs with Yousign API.
  license:
    name: proprietary
    url: https://yousign.com/terms
  title: Public Api v3 Document Analysis API
  version: '3.0'
servers:
- description: Sandbox URL
  url: https://api-sandbox.yousign.app/v3
- description: Production URL
  url: https://api.yousign.app/v3
security:
- bearerAuth: []
tags:
- description: Analyze a document and extract structured data.
  name: Document Analysis
paths:
  /document_analyses:
    get:
      description: 'Returns the list of all Document Analyses within your organization.

        You can limit the number of items returned by using filters and pagination.

        Consult our guide for more details and examples.'
      operationId: get-document_analyses
      parameters:
      - description: After cursor (pagination)
        in: query
        name: after
        required: false
        schema:
          minLength: 1
          type: string
      - description: The limit of items count to retrieve.
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
      - description: 'Filter by `status`. Allowed operators: `eq`.

          Example: `status[eq]=done`

          '
        example:
          eq:
          - done
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: Filter by status.
          minProperties: 1
          type: object
        style: deepObject
      - description: 'Filter by `type`. Allowed operators: `eq`.

          Example: `type[eq]=social_security`

          '
        example:
          eq:
          - social_security
        explode: true
        in: query
        name: type
        required: false
        schema:
          description: Filter by type.
          minProperties: 1
          type: object
        style: deepObject
      - description: 'Filter by `workspace_id`. Allowed operators: `eq`.

          Example: `workspace_id[eq]=9b6ed2f3-244f-487a-baa1-bbe4f51c8748`

          '
        example:
          eq:
          - 9b6ed2f3-244f-487a-baa1-bbe4f51c8748
        explode: true
        in: query
        name: workspace_id
        required: false
        schema:
          description: Filter by workspace_id.
          minProperties: 1
          type: object
        style: deepObject
      - description: 'Filter by `workflow_session_id`. Allowed operators: `eq`.

          Example: `workflow_session_id[eq]=18a5e211-ff33-48e2-810c-a0397b558611`

          '
        example:
          eq:
          - 18a5e211-ff33-48e2-810c-a0397b558611
        explode: true
        in: query
        name: workflow_session_id
        required: false
        schema:
          description: Filter by workflow_session_id.
          minProperties: 1
          type: object
        style: deepObject
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_document_analyses_200_response'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad request
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Access unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Access forbidden
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: This method is not allowed
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
            Retry-After:
              $ref: '#/components/headers/retry-after'
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too Many Requests, please try again later.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
            Retry-After:
              $ref: '#/components/headers/retry-after'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
      summary: List Document Analyses
      tags:
      - Document Analysis
    post:
      description: 'Initiate a new Document Analysis to extract data from a given document type.


        Related guide: Document Analysis


        **ℹ️ This endpoint accepts two request body formats — pick the one that matches your use case:**

        - 📁 `multipart/form-data` — upload a binary file containing the document to analyse.

        - 📝 `application/json` — reference an existing Workflow Session Applicant by ID.


        **🔎 Analysis type (`analysis_type`)**

        - `extraction: true` (default): data is extracted from the document. A document `type` is **required**. Optionally set `fraud_level` to `advanced` to also run fraud detection (not supported for `tax_notice`).

        - `extraction: false` (fraud-only): no data extraction. `type` must be omitted and `fraud_level` must be `advanced`.


        On `multipart/form-data`, `analysis_type` is sent as form fields (`analysis_type[extraction]`, `analysis_type[fraud_level]`) and `extraction` is a string (`"true"`/`"false"`).


        **🔓 Endpoint access**

        - Environments: `production`, `sandbox`

        - API key scopes: `organization`, `workspace`

        - Plans: `pro`, `scale`

        - Add-ons (for production access):

        - For extraction only `Document Analysis`

        - For Fraud Detection and Extraction `Document Trust Advanced`'
      operationId: post-document_analyses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateDocumentAnalysisFromApplicant'
          multipart/form-data:
            encoding:
              checks:
                explode: true
                style: deepObject
              analysis_type:
                explode: true
                style: deepObject
            schema:
              $ref: '#/components/schemas/InitiateDocumentAnalysisFromMultipart'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_document_analyses_201_response'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad request
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Access unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Access forbidden
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource not found
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: This method is not allowed
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
            Retry-After:
              $ref: '#/components/headers/retry-after'
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedMediaTypeResponse'
          description: UnsupportedMediaType
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too Many Requests, please try again later.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
            Retry-After:
              $ref: '#/components/headers/retry-after'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
      summary: Initiate a new Document Analysis
      tags:
      - Document Analysis
      x-readme:
        explorer-enabled: false
  /document_analyses/{documentAnalysisId}:
    get:
      description: Get the detailed results of a Document Analysis.
      operationId: get-document_analyses-id
      parameters:
      - description: Document Analysis Id
        in: path
        name: documentAnalysisId
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        '200':
          content:
            application/json:
              examples:
                social_security:
                  summary: Social Security
                  value:
                    id: 550e8400-e29b-41d4-a716-446655440000
                    workspace_id: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
                    workflow_session_id: null
                    previous_attempt_id: null
                    created_at: '2024-01-18T22:59:00+00:00'
                    updated_at: '2024-01-18T22:59:00+00:00'
                    status: done
                    status_codes: []
                    country_code: null
                    data_anonymized: false
                    applicant_id: null
                    type: social_security
                    extracted_from_document:
                      social_security_number: '1234567890123'
                      first_name: John
                      last_name: Doe
                      full_name: John Doe
                      document_type: Carte vitale
                    checks:
                      full_name:
                        extracted: John Doe
                        expected: John Doe
                        match_level: exact
                company_certificate:
                  summary: Company Certificate
                  value:
                    id: 550e8400-e29b-41d4-a716-446655440000
                    workspace_id: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
                    workflow_session_id: null
                    previous_attempt_id: null
                    created_at: '2024-01-18T22:59:00+00:00'
                    updated_at: '2024-01-18T22:59:00+00:00'
                    status: done
                    status_codes: []
                    country_code: null
                    data_anonymized: false
                    applicant_id: null
                    type: company_certificate
                    extracted_from_document:
                      verification_number: '1234567890123'
                      company_name: Acme
                      company_number: '1234567890'
                      registered_address: 1 rue de la paix, 75000 Paris
                      issuance_date: '2025-01-01'
                      legal_representatives:
                      - type: natural_person
                        first_name: John
                        last_name: Doe
                        full_name: John Doe
                        function: Président
                        company_name: null
                        company_number: null
                      - type: legal_person
                        first_name: null
                        last_name: null
                        full_name: null
                        company_name: Acme Studio
                        company_number: 0987654321
                        function: Dirigeant
                      document_type: KBIS
                    checks:
                      legal_representatives:
                      - full_name:
                          extracted: John Doe
                          expected: John Doe
                          match_level: exact
                business_registration_certificate:
                  summary: Business Registration Certificate
                  value:
                    id: 550e8400-e29b-41d4-a716-446655440000
                    workspace_id: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
                    workflow_session_id: null
                    previous_attempt_id: null
                    created_at: '2024-01-18T22:59:00+00:00'
                    updated_at: '2024-01-18T22:59:00+00:00'
                    status: done
                    status_codes: []
                    country_code: null
                    data_anonymized: false
                    applicant_id: null
                    type: business_registration_certificate
                    extracted_from_document:
                      issuance_date: '2025-01-01'
                      company_description:
                        active: true
                        legal_form: Entreprise individuelle
                        company_name: null
                        company_number: 123 4567 890
                        headquarter_company_number: 123 4567 890 12345
                        first_name: John
                        last_name: Doe
                        full_name: John Doe
                      branch_description:
                        active: true
                        branch_company_number: 123 4567 890 12345
                        address: 1 rue de la paix, 75000 Paris
                        city: Paris
                        postal_code: '75000'
                      document_type: Avis de situation
                    checks:
                      full_name:
                        extracted: John Doe
                        expected: John Doe
                        match_level: exact
                driver_licence:
                  summary: Driver Licence
                  value:
                    id: 550e8400-e29b-41d4-a716-446655440000
                    workspace_id: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
                    workflow_session_id: null
                    previous_attempt_id: null
                    created_at: '2024-01-18T22:59:00+00:00'
                    updated_at: '2024-01-18T22:59:00+00:00'
                    status: done
                    status_codes: []
                    country_code: null
                    data_anonymized: false
                    applicant_id: null
                    type: driver_licence
                    extracted_from_document:
                      first_name: John
                      last_name: Doe
                      full_name: John Doe
                      born_on: '1990-01-15'
                      expired_on: '2030-12-31'
                      license_type:
                      - B
                      - A1
                      document_type: Permis de conduire français (nouveau format)
                    checks:
                      full_name:
                        extracted: John Doe
                        expected: John Doe
                        match_level: exact
                rne_certificate:
                  summary: RNE Certificate
                  value:
                    id: 550e8400-e29b-41d4-a716-446655440000
                    workspace_id: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
                    workflow_session_id: null
                    previous_attempt_id: null
                    created_at: '2024-01-18T22:59:00+00:00'
                    updated_at: '2024-01-18T22:59:00+00:00'
                    status: done
                    status_codes: []
                    country_code: null
                    data_anonymized: false
                    applicant_id: null
                    type: rne_certificate
                    extracted_from_document:
                      company_name: ACME Corp
                      company_number: '123456789'
                      registered_address: 1 rue de la paix, 75000 Paris
                      issuance_date: '2024-01-15'
                      legal_representatives:
                      - type: natural_person
                        first_name: John
                        last_name: Doe
                        full_name: John Doe
                        function: President
                        company_name: null
                        company_number: null
                      - type: legal_person
                        first_name: null
                        last_name: null
                        full_name: null
                        company_name: ACME Studio
                        company_number: 0987654321
                        function: Statutory Auditor
                      document_type: Attestation RNE
                    checks:
                      legal_representatives:
                      - full_name:
                          extracted: John Doe
                          expected: John Doe
                          match_level: exact
                temporary_vehicle_registration_document:
                  summary: Temporary Vehicle Registration Document (IT)
                  value:
                    id: 550e8400-e29b-41d4-a716-446655440000
                    workspace_id: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
                    workflow_session_id: null
                    previous_attempt_id: null
                    created_at: '2024-01-18T22:59:00+00:00'
                    updated_at: '2024-01-18T22:59:00+00:00'
                    status: done
                    status_codes: []
                    country_code: IT
                    data_anonymized: false
                    applicant_id: null
                    type: temporary_vehicle_registration_document
                    extracted_from_document:
                      vehicle_category: M1
                      vehicle_license_number: DH000SJ
                      vehicle_identification_number: ZFA19900001244827
                      vehicle_purpose: PROPRIO
                      vehicle_first_registration_year: '2018'
                      vehicle_owner_information:
                        vehicle_owner_full_name: DOE JOHN
                        vehicle_owner_birth_date: '1985-06-15'
                        vehicle_owner_address: VIA ROMA 10, 00100 ROMA RM
                      other_details: Veicolo ad uso privato
                      issuance_date: '2024-03-15'
                      document_reason: PASSAGGIO DI PROPRIETA
                      document_recipient_information:
                        document_recipient_full_name: DOE JOHN
                        document_recipient_address: VIA ROMA 10, 00100 ROMA RM
                        document_recipient_birth_date: '1985-06-15'
                        document_recipient_birth_city: ROMA
                    checks:
                      vehicle_owner:
                        owner_name:
                          extracted: DOE JOHN
                          expected: Doe John
                          match_level: exact
                vehicle_registration_document_fr:
                  summary: French Vehicle Registration Document
                  value:
                    id: 550e8400-e29b-41d4-a716-446655440000
                    workspace_id: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
                    workflow_session_id: null
                    previous_attempt_id: null
                    created_at: '2024-01-18T22:59:00+00:00'
                    updated_at: '2024-01-18T22:59:00+00:00'
                    status: done
                    status_codes: []
                    country_code: FR
                    data_anonymized: false
                    applicant_id: null
                    type: vehicle_registration_document
                    extracted_from_document:
                      licence_plate_number: AB-123-CD
                      first_registration_date: '2020-01-15'
                      owner_information:
                        owner_full_name: John Doe
                        owner_address: 1 rue de la Paix, 75001 Paris
                        owner_type: natural_person
                      co_owner_information: []
                      vehicle_information:
                        vehicle_brand: Renault
                        vehicle_version: null
                        vehicle_model: Clio
                      vehicle_identification_number: VF1AB000012345678
                      vehicle_max_weight: 1800
                      vehicle_motor_information:
                        vehicle_fuel_type: Essence
                        vehicle_fiscal_power: 6
                        vehicle_max_power: 96
                        vehicle_power: 74
                      document_number: 2020AB12345
                      issuance_date: '2020-01-20'
                      vehicle_next_inspection_date: '2024-01-20'
                      mrz_line_1: null
                      mrz_line_2: null
                      document_type: Carte grise
                    checks:
                      vehicle_owner:
                        owner_name:
                          extracted: John Doe
                          expected: John Doe
                          match_level: exact
                vehicle_registration_document_it:
                  summary: Italian Vehicle Registration Document
                  value:
                    id: 550e8400-e29b-41d4-a716-446655440000
                    workspace_id: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
                    workflow_session_id: null
                    previous_attempt_id: null
                    created_at: '2024-01-18T22:59:00+00:00'
                    updated_at: '2024-01-18T22:59:00+00:00'
                    status: done
                    status_codes: []
                    country_code: IT
                    data_anonymized: false
                    applicant_id: null
                    type: vehicle_registration_document
                    extracted_from_document:
                      licence_plate_number: DH000SJ
                      first_registration_date: '2018-06-15'
                      owner_information:
                        owner_full_name: DOE JOHN
                        owner_address: VIA ROMA 10, 00100 ROMA RM
                        owner_type: natural_person
                        owner_birth_date: '1985-06-15'
                      co_owner_information: []
                      deed_informations: []
                      vehicle_information:
                        vehicle_brand: FIAT
                        vehicle_version: null
                        vehicle_model: '500'
                      vehicle_body: Berlina
                      vehicle_identification_number: ZFA19900001244827
                      vehicle_total_mass: 1500
                      vehicle_motor_information:
                        vehicle_fuel_type: Benzina
                        vehicle_max_power: 51
                        vehicle_displacement_type: 1242
                      document_type: Carta di circolazione
                      issuance_date: '2018-07-01'
                      vehicle_approval_number: null
                      vehicle_destination_and_use: null
                      international_vehicle_category: M1
                      mass_of_the_vehicle_in_service: 1050
                      vehicle_maximum_technical_mass: 1500
                      vehicle_maximum_permissible_mass: 1500
                    checks:
                      vehicle_owner:
                        owner_name:
                          extracted: DOE JOHN
                          expected: Doe John
                          match_level: exact
                auto_insurance_claims_history:
                  summary: Auto Insurance Claims History
                  value:
                    id: 550e8400-e29b-41d4-a716-446655440000
                    workspace_id: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
                    workflow_session_id: null
                    previous_attempt_id: null
                    created_at: '2024-01-18T22:59:00+00:00'
                    updated_at: '2024-01-18T22:59:00+00:00'
                    status: done
                    status_codes: []
                    country_code: null
                    data_anonymized: false
                    applicant_id: null
                    type: auto_insurance_claims_history
                    extracted_from_document:
                      policy_holder_full_name: John Doe
                      policy_holder_address: 1 rue de la Paix, 75001 Paris
                      policy_holder_birth_date: '1990-01-01'
                      insurance_score: '0.50'
                      issuance_date: '2024-01-15'
                      effective_start_date: '2023-01-01'
                      active_contract: true
                      contract_cancellation_date: null
                      vehicle_model: Renault Clio
                      vehicle_license_plate: AB-123-CD
                      drivers_information:
                      - driver_full_name: John Doe
                        driver_birth_date: '1990-01-01'
                        coverage_start_date: '2023-01-01'
                        coverage_end_date: null
                        driver_license_number: '12345678'
                        driver_license_category: B
                        driver_license_issuance_date: '2010-06-15'
                      incidents_information: []
                    checks:
                      policy_holder:
                        owner_name:
                          extracted: Doe John
                          expected: Doe John
                          match_level: exact
                tax_notice:
                  summary: Tax Notice
                  value:
                    id: 550e8400-e29b-41d4-a716-446655440000
                    workspace_id: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
                    workflow_session_id: null
                    previous_attempt_id: null
                    created_at: '2024-01-18T22:59:00+00:00'
                    updated_at: '2024-01-18T22:59:00+00:00'
                    status: done
                    status_codes: []
                    country_code: null
                    data_anonymized: false
                    applicant_id: null
                    type: tax_notice
                    extracted_from_document:
                      full_name: Doe John
                      fiscal_number_1: 0312345678901
                      fiscal_number_2: 0398765432109
                      tax_notice_reference: 2412B01234567
                      issuance_date: '2025-08-15'
                      income_year: 2024
                      reference_income: 30000
                      document_type: Avis d'impôts sur le revenu
                      2d_doc:
                        full_name_1: Doe John
                        fiscal_number_1: 0312345678901
                        full_name_2: Doe Jane
                        fiscal_number_2: 0398765432109
                        tax_notice_reference: 2412B01234567
                        income_year: 2024
                        reference_income: 30000
                        parts_count: 1
                    checks:
                      full_name:
                        extracted: John Doe
                        expected: John Doe
                        match_level: exact
                      income_year:
                        extracted: 2024
                        expected: 2024
                        match_level: exact
              schema:
                $ref: '#/components/schemas/post_document_analyses_201_response'
          description: OK
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad request
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Access unauthorized
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Access forbidden
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource not found
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: This method is not allowed
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
            Retry-After:
              $ref: '#/components/headers/retry-after'
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too Many Requests, please try again later.
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
            Retry-After:
              $ref: '#/components/headers/retry-after'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
          headers:
            RateLimit-Limit:
              $ref: '#/components/headers/rateLimit-limit'
            X-RateLimit-Limit-Hour:
              $ref: '#/components/headers/rateLimit-limit-hour'
            X-RateLimit-Limit-Minute:
              $ref: '#/components/headers/rateLimit-limit-minute'
            RateLimit-Remaining:
              $ref: '#/components/headers/rateLimit-remaining'
            X-RateLimit-Remaining-Hour:
              $ref: '#/components/headers/rateLimit-remaining-hour'
            X-RateLimit-Remaining-Minute:
              $ref: '#/components/headers/rateLimit-remaining-minute'
            RateLimit-Reset:
              $ref: '#/components/headers/rateLimit-reset'
      summary: Retrieve a Document Analysis
      tags:
      - Document Analysis
components:
  schemas:
    FrenchVehicleRegistrationDocumentExtraction_vehicle_information:
      additionalProperties: false
      properties:
        vehicle_brand:
          description: Brand of the vehicle.
          type:
          - string
          - 'null'
        vehicle_version:
          description: Version of the vehicle.
          type:
          - string
          - 'null'
        vehicle_model:
          description: Model of the vehicle.
          type:
          - string
          - 'null'
      required:
      - vehicle_brand
      - vehicle_model
      - vehicle_version
      type: object
    UUID:
      description: The unique identifier for a resource.
      example: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
      format: uuid
      type: string
    CompanyCertificateCheck_legal_representatives_inner:
      properties:
        full_name:
          $ref: '#/components/schemas/DocumentAnalysisCheck'
      required:
      - full_name
      type: object
    InitiateRNECertificate:
      additionalProperties: false
      properties:
        file:
          description: 'The file containing the data to extract.

            Accepted formats: PDF, PNG, JPG, JPEG.

            Max size: 25 MB.

            Max number of pages per PDF: 10.

            '
          example: Binary file
          format: binary
          type: string
        type:
          description: Type of document you want to analyze. Will be used to match the detected document type.
          enum:
          - rne_certificate
          example: rne_certificate
          type: string
        workspace_id:
          description: 'Scopes the Document Analysis to a specific workspace.

            Defaults to the default workspace if not specified.

            '
          example: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
          format: uuid
          type:
          - string
          - 'null'
        workflow_session_id:
          $ref: '#/components/schemas/WorkflowSessionId'
        previous_attempt_id:
          $ref: '#/components/schemas/PreviousAttemptId'
        analysis_type:
          $ref: '#/components/schemas/AnalysisTypeMultipart'
        checks:
          $ref: '#/components/schemas/InitiateCompanyCertificate_checks'
      required:
      - file
      - type
      title: Initiate RNE Certificate
      type: object
    RNECertificateCheck:
      additionalProperties: false
      description: Checks performed on the document.
      example:
        legal_representatives:
        - full_name:
            extracted: John Doe
            expected: John Doe
            match_level: exact
      properties:
        legal_representatives:
          items:
            $ref: '#/components/schemas/CompanyCertificateCheck_legal_representatives_inner'
          type:
          - array
          - 'null'
      required:
      - legal_representatives
      title: RNE Certificate Checks
      type:
      - object
      - 'null'
    InitiatePayslip:
      additionalProperties: false
      properties:
        file:
          description: 'The file containing the data to extract.

            Accepted formats: PDF, PNG, JPG, JPEG.

            Max size: 25 MB.

            Max number of pages per PDF: 10.

            '
          example: Binary file
          format: binary
          type: string
        type:
          description: Type of document you want to analyze. Will be used to match the detected document type.
          enum:
          - payslip
          example: payslip
          type: string
        country_code:
          description: The country code of the payslip.
          enum:
          - FR
          - IT
          example: FR
          type: string
        workspace_id:
          description: 'Scopes the Document Analysis to a specific workspace.

            Defaults to the default workspace if not specified.

            '
          example: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
          format: uuid
          type:
          - string
          - 'null'
        workflow_session_id:
          $ref: '#/components/schemas/WorkflowSessionId'
        previous_attempt_id:
          $ref: '#/components/schemas/PreviousAttemptId'
        analysis_type:
          $ref: '#/components/schemas/AnalysisTypeMultipart'
        checks:
          $ref: '#/components/schemas/InitiatePayslip_checks'
      required:
      - country_code
      - file
      - type
      title: Initiate Payslip
      type: object
    BusinessRegistrationCertificateExtraction_company_description:
      properties:
        active:
          description: Indicates whether the company is active or not.
          type:
          - boolean
          - 'null'
        legal_form:
          description: Legal form extracted from the document.
          type:
          - string
          - 'null'
        company_name:
          description: Company name extracted from the document.
          type:
          - string
          - 'null'
        company_number:
          description: Company number extracted from the document.
          type:
          - string
          - 'null'
        headquarter_company_number:
          description: Headquarter company number extracted from the document.
          type:
          - string
          - 'null'
        first_name:
          description: First name of the individual extracted from the document. Null if not a sole proprietor.
          type:
          - string
          - 'null'
        last_name:
          description: Last name of the individual extracted from the document. Null if not a sole proprietor.
          type:
          - string
          - 'null'
        full_name:
          description: Full name of the individual extracted from the document. Null if not a sole proprietor.
          type:
          - string
          - 'null'
      required:
      - active
      - company_name
      - company_number
      - first_name
      - full_name
      - headquarter_company_number
      - last_name
      - legal_form
      type: object
    InitiateSocialSecurity:
      additionalProperties: false
      properties:
        file:
          description: 'The file containing the data to extract.

            Accepted formats: PDF, PNG, JPG, JPEG.

            Max size: 25 MB.

            Max number of pages per PDF: 10.

            '
          example: Binary file
          format: binary
          type: string
        type:
          description: Type of document you want to analyze. Will be used to match the detected document type.
          enum:
          - social_security
          example: social_security
          type: string
        workspace_id:
          description: 'Scopes the Document Analysis to a specific workspace.

            Defaults to the default workspace if not specified.

            '
          example: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
          format: uuid
          type:
          - string
          - 'null'
        workflow_session_id:
          $ref: '#/components/schemas/WorkflowSessionId'
        previous_attempt_id:
          $ref: '#/components/schemas/PreviousAttemptId'
        analysis_type:
          $ref: '#/components/schemas/AnalysisTypeMultipart'
        checks:
          $ref: '#/components/schemas/InitiateSocialSecurity_checks'
      required:
      - file
      - type
      title: Initiate Social Security
      type: object
    SocialSecurityExtraction:
      additionalProperties: false
      description: Extracted data from the document.
      example:
        social_security_number: '1234567890123'
        first_name: John
        last_name: Doe
        full_name: John Doe
        document_type: carte vitale
      properties:
        social_security_number:
          description: Social Security number extracted from the document.
          type:
          - string
          - 'null'
        first_name:
          description: First name of the individual.
          type:
          - string
          - 'null'
        last_name:
          description: Last name of the individual.
          type:
          - string
          - 'null'
        full_name:
          description: Full name of the individual.
          type:
          - string
          - 'null'
        document_type:
          description: Classification label extracted from the document.
          type:
          - string
          - 'null'
      required:
      - document_type
      - first_name
      - full_name
      - last_name
      - social_security_number
      title: Social Security Extraction
      type: object
    InitiateVehicleRegistrationDocument:
      additionalProperties: false
      properties:
        file:
          description: 'The file containing the data to extract.

            Accepted formats: PDF, PNG, JPG, JPEG.

            Max size: 25 MB.

            Max number of pages per PDF: 10.

            '
          example: Binary file
          format: binary
          type: string
        type:
          description: Type of document you want to analyze. Will be used to match the detected document type.
          enum:
          - vehicle_registration_document
          example: vehicle_registration_document
          type: string
        country_code:
          description: The country code of the vehicle registration document.
          enum:
          - FR
          - IT
          example: FR
          type: string
        workspace_id:
          description: 'Scopes the Document Analysis to a specific workspace.

            Defaults to the default workspace if not specified.

            '
          example: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
          format: uuid
          type:
          - string
          - 'null'
        workflow_session_id:
          $ref: '#/components/schemas/WorkflowSessionId'
        previous_attempt_id:
          $ref: '#/components/schemas/PreviousAttemptId'
        analysis_type:
          $ref: '#/components/schemas/AnalysisTypeMultipart'
        checks:
          $ref: '#/components/schemas/InitiateVehicleRegistrationDocument_checks'
      required:
      - country_code
      - file
      - type
      title: Initiate Vehicle Registration Document
      type: object
    DocumentAnalysisStatus:
      description: Status of the Document Analysis.
      enum:
      - pending
      - awaiting_data
      - done
      - inconclusive
      - failed
      example: done
      type: string
    FrenchVehicleRegistrationDocumentExtraction_co_owner_information_inner:
      additionalProperties: false
      properties:
        co_owner_full_name:
          description: Full name of the co-owner.
          type:
          - string
          - 'null'
      required:
      - co_owner_full_name
      type: object
    InitiatePayslip_checks_full_name_check:
      additionalProperties: false
      description: Expected full name to check against the document.
      properties:
        first_name:
          description: Expected first name to check against the document.
          type: string
        last_name:
          description: Expected last name to check against the document.
          type: string
      required:
      - first_name
      - last_name
      type: object
    post_document_analyses_201_response:
      oneOf:
      - $ref: '#/components/schemas/SocialSecurityFull'
      - $ref: '#/components/schemas/CompanyCertificateFull'
      - $ref: '#/components/schemas/BusinessRegistrationCertificateFull'
      - $ref: '#/components/schemas/DriverLicenceFull'
      - $ref: '#/components/schemas/RNECertificateFull'
      - $ref: '#/components/schemas/TemporaryVehicleRegistrationDocumentFull'
      - $ref: '#/components/schemas/VehicleRegistrationDocumentFull'
      - $ref: '#/components/schemas/AutoInsuranceClaimsHistoryFull'
      - $ref: '#/components/schemas/TaxNoticeFull'
      - $ref: '#/components/schemas/PayslipFull'
      - $ref: '#/components/schemas/InvoiceFull'
      - $ref: '#/components/schemas/FraudOnlyFull'
    InitiateVehicleRegistrationDocument_checks:
      additionalProperties: false
      description: Checks to perform on the document.
      example:
        vehicle_owner:
          type: natural_person
          first_name: John
          last_name: Doe
      properties:
        vehicle_owner:
          $ref: '#/components/schemas/InitiateVehicleRegistrationDocument_checks_vehicle_owner'
      required:
      - vehicle_owner
      type:
      - object
      - 'null'
    WorkflowSessionId:
      description: 'Unique identifier of a Workflow Session. When provided, an Action is created in the Workflow Session, and this resource is associated with that Action.

        '
      example: 0ef334d2-7f36-4643-8a2a-4283b4a3e4a4
      format: uuid
      title: Workflow Session identifier
      type:
      - string
      - 'null'
    InitiateTaxNotice:
      additionalProperties: false
      properties:
        file:
          description: 'The file containing the data to extract.

            Accepted formats: PDF, PNG, JPG, JPEG.

            Max size: 25 MB.

            Max number of pages per PDF: 10.

            '
          example: Binary file
          format: binary
          type: string
        type:
          description: Type of document you want to analyze. Will be used to match the detected document type.
          enum:
          - tax_notice
          example: tax_notice
          type: string
        country_code:
          description: The country code of the tax notice.
          enum:
          - FR
          example: FR
          type: string
        workspace_id:
          description: 'Scopes the Document Analysis to a specific workspace.

            Defaults to the default workspace if not specified.

            '
          example: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
          format: uuid
          type:
          - string
          - 'null'
        workflow_session_id:
          $ref: '#/components/schemas/WorkflowSessionId'
        previous_attempt_id:
          $ref: '#/components/schemas/PreviousAttemptId'
        analysis_type:
          $ref: '#/components/schemas/AnalysisTypeMultipart'
        checks:
          $ref: '#/components/schemas/InitiateTaxNotice_checks'
      required:
      - country_code
      - file
      - type
      title: Initiate Tax Notice
      type: object
    AnalysisTypeMultipart:
      additionalProperties: false
      description: 'Same as `analysis_type` on the JSON path, but sent as `multipart/form-data`.

        Because form-data has no native boolean, `extraction` is a string (`"true"`/`"false"`).


        - When `extraction` is `"true"` (default), data is extracted from the document and a document `type` is **required**.

        - When `extraction` is `"false"` (fraud-only), no `type` must be provided and `fraud_level` must be `advanced`.

        '
      properties:
        extraction:
          default: 'true'
          description: 'Whether to extract data from the document. Defaults to `"true"` when omitted.

            Set to `"false"` to run a fraud-only analysis (no data extraction).

            '
          enum:
          - 'true'
          - 'false'
          example: 'true'
          type: string
        fraud_level:
          description: 'Level of fraud detection to run. `null` (default) disables fraud detection.

            Not supported for type `tax_notice`. Must be `advanced` when `extraction` is `"false"`.

            '
          enum:
          - none
          - advanced
          example: advanced
          type:
          - string
          - 'null'
      title: AnalysisType
      type: object
    SocialSecurityCheck:
      additionalProperties: false
      description: Checks performed on the document.
      example:
        full_name:
          extracted: John Doe
          expected: John Doe
          match_level: exact
      properties:
        full_name:
          $ref: '#/components/schemas/DocumentAnalysisCheck'
      required:
      - full_name
      title: Social Security Checks
      type:
      - object
      - 'null'
    DriverLicenceFull:
      allOf:
      - $ref: '#/components/schemas/DocumentAnalysisMeta_1'
      - properties:
          type:
            enum:
            - driver_licence
            type: string
          extracted_from_document:
            $ref: '#/components/schemas/DriverLicenceExtraction'
          checks:
            $ref: '#/components/schemas/DriverLicenceCheck'
        type: object
      required:
      - checks
      - country_code
      - created_at
      - data_anonymized
      - extracted_from_document
      - id
      - previous_attempt_id
      - status
      - type
      - updated_at
      - workflow_session_id
      - workspace_id
      title: Driver Licence
      type: object
    FrenchVehicleRegistrationDocumentExtraction_owner_information:
      additionalProperties: false
      properties:
        owner_full_name:
          description: Full name of the vehicle owner.
          type:
          - string
          - 'null'
        owner_address:
          description: Address of the vehicle owner.
          type:
          - string
          - 'null'
        owner_type:
          description: Type of the vehicle owner.
          enum:
          - natural_person
          - legal_person
          type:
          - string
          - 'null'
      required:
      - owner_address
      - owner_full_name
      - owner_type
      type: object
    InvoiceFull:
      allOf:
      - $ref: '#/components/schemas/DocumentAnalysisMeta_1'
      - properties:
          type:
            enum:
            - invoice
            type: string
          extracted_from_document:
            $ref: '#/components/schemas/FrenchInvoiceExtraction'
          checks:
            $ref: '#/components/schemas/InvoiceFull_allOf_checks'
        type: object
      required:
      - checks
      - country_code
      - created_at
      - data_anonymized
      - extracted_from_document
      - id
      - previous_attempt_id
      - status
      - type
      - updated_at
      - workflow_session_id
      - workspace_id
      title: French Invoice Document
      type: object
    SocialSecurityFull:
      allOf:
      - $ref: '#/components/schemas/DocumentAnalysisMeta_1'
      - properties:
          type:
            enum:
            - social_security
            type: string
          extracted_from_document:
            $ref: '#/components/schemas/SocialSecurityExtraction'
          checks:
            $ref: '#/components/schemas/SocialSecurityCheck'
        type: object
      required:
      - checks
      - country_code
      - created_at
      - data_anonymized
      - extracted_from_document
      - id
      - previous_attempt_id
      - status
      - type
      - updated_at
      - workflow_session_id
      - workspace_id
      title: Social Security
      type: object
    FraudRiskAnalysis_indicators_inner:
      additionalProperties: false
      properties:
        indicator:
          description: Machine-readable identifier of the detected indicator.
          example: document_metadata_modified
          type: string
        type:
          description: Type of the indicator.
          example: metadata
          type: string
        category:
          description: Category the indicator belongs to.
          example: tampering
          type: string
        title:
          description: Human-readable title of the indicator.
          example: Document metadata has been modified
          type: string
        description:
          description: Human-readable description of the indicator.
          example: The document metadata shows signs of modification by an editing tool.
          type: string
      required:
      - category
      - description
      - indicator
      - title
      - type
      type: object
    TemporaryVehicleRegistrationDocumentCheck_vehicle_owner:
      additionalProperties: false
      description: Check result for the vehicle owner.
      properties:
        owner_name:
          $ref: '#/components/schemas/DocumentAnalysisCheck'
      required:
      - owner_name
      type: object
    AutoInsuranceClaimsHistoryFull:
      allOf:
      - $ref: '#/components/schemas/DocumentAnalysisMeta_1'
      - properties:
          type:
            enum:
            - auto_insurance_claims_history
            type: string
          extracted_from_document:
            $ref: '#/components/schemas/AutoInsuranceClaimsHistoryExtraction'
          checks:
            $ref: '#/components/schemas/AutoInsuranceClaimsHistoryCheck'
        type: object
      required:
      - checks
      - country_code
      - created_at
      - data_anonymized
      - extracted_from_document
      - id
      - previous_attempt_id
      - status
      - type
      - updated_at
      - workflow_session_id
      - workspace_id
      title: Auto Insurance Claims History
      type: object
    InitiateAutoInsuranceClaimsHistory_checks:
      additionalProperties: false
      description: Checks to perform on the document.
      example:
        policy_holder:
          type: natural_person
          first_name: John
          last_name: Doe
      properties:
        policy_holder:
          $ref: '#/components/schemas/InitiateAutoInsuranceClaimsHistory_checks_policy_holder'
      required:
      - policy_holder
      type:
      - object
      - 'null'
    InitiateDriverLicence:
      additionalProperties: false
      properties:
        file:
          description: 'The file containing the data to extract.

            Accepted formats: PDF, PNG, JPG, JPEG.

            Max size: 25 MB.

            Max number of pages per PDF: 10.

            '
          example: Binary file
          format: binary
          type: string
        type:
          description: Type of document you want to analyze. Will be used to match the detected document type.
          enum:
          - driver_licence
          example: driver_licence
          type: string
        workspace_id:
          description: 'Scopes the Document Analysis to a specific workspace.

            Defaults to the default workspace if not specified.

            '
          example: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
          format: uuid
          type:
          - string
          - 'null'
        workflow_session_id:
          $ref: '#/components/schemas/WorkflowSessionId'
        previous_attempt_id:
          $ref: '#/components/schemas/PreviousAttemptId'
        analysis_type:
          $ref: '#/components/schemas/AnalysisTypeMultipart'
        checks:
          $ref: '#/components/schemas/InitiateSocialSecurity_checks'
      required:
      - file
      - type
      title: Initiate Driver Licence
      type: object
    AutoInsuranceClaimsHistoryCheck:
      additionalProperties: false
      description: Checks performed on the document.
      example:
        policy_holder:
          owner_name:
            extracted: Doe John
            expected: Doe John
            match_level: exact
      properties:
        policy_holder:
          $ref: '#/components/schemas/AutoInsuranceClaimsHistoryCheck_policy_holder'
      required:
      - policy_holder
      title: Auto Insurance Claims History Checks
      type:
      - object
      - 'null'
    TaxNoticeExtraction:
      additionalProperties: false
      description: Extracted data from the document.
      properties:
        full_name:
          description: The holder full name extracted from the document.
          example: Doe John
          type:
          - string
          - 'null'
        fiscal_number_1:
          description: The fiscal number of the first declarant extracted from the document.
          example: 0312345678901
          type:
          - string
          - 'null'
        fiscal_number_2:
          description: The fiscal number of the second declarant extracted from the document.
          example: 0398765432109
          type:
          - string
          - 'null'
        tax_notice_reference:
          description: The tax notice reference number extracted from the document.
          example: 2412B01234567
          type:
          - string
          - 'null'
        issuance_date:
          description: The tax notice issuance date extracted from the document.
          example: '2025-08-15'
          format: date
          type:
          - string
          - 'null'
        income_year:
          description: Year of incomes (usually the year before document issuance) extracted from the document.
          example: 2024
          type:
          - integer
          - 'null'
        reference_income:
          description: The fiscal reference income extracted from the document.
          example: 30000
          type:
          - integer
          - 'null'
        document_type:
          description: The document type extracted from the document.
          enum:
          - Avis d'impôts sur le revenu
          example: Avis d'impôts sur le revenu
          type:
          - string
          - 'null'
        2d_doc:
          $ref: '#/components/schemas/TaxNoticeExtraction_2d_doc'
      required:
      - 2d_doc
      - document_type
      - fiscal_number_1
      - fiscal_number_2
      - full_name
      - income_year
      - issuance_date
      - reference_income
      - tax_notice_reference
      title: Tax Notice Extraction
      type: object
    FrenchVehicleRegistrationDocumentExtraction:
      additionalProperties: false
      description: Extracted data from a French vehicle registration document.
      properties:
        licence_plate_number:
          description: Licence plate number of the vehicle.
          type:
          - string
          - 'null'
        first_registration_date:
          description: Date of first registration of the vehicle.
          format: date
          type:
          - string
          - 'null'
        owner_information:
          $ref: '#/components/schemas/FrenchVehicleRegistrationDocumentExtraction_owner_information'
        co_owner_information:
          description: List of co-owners of the vehicle.
          items:
            $ref: '#/components/schemas/FrenchVehicleRegistrationDocumentExtraction_co_owner_information_inner'
          type: array
        vehicle_information:
          $ref: '#/components/schemas/FrenchVehicleRegistrationDocumentExtraction_vehicle_information'
        vehicle_identification_number:
          description: Vehicle Identification Number (VIN).
          type:
          - string
          - 'null'
        vehicle_max_weight:
          description: Maximum weight of the vehicle.
          type:
          - number
          - 'null'
        vehicle_motor_information:
          $ref: '#/components/schemas/FrenchVehicleRegistrationDocumentExtraction_vehicle_motor_information'
        document_number:
          description: Document number.
          type:
          - string
          - 'null'
        issuance_date:
          description: Issuance date of the document.
          format: date
          type:
          - string
          - 'null'
        vehicle_next_inspection_date:
          description: Date of the next vehicle inspection.
          format: date
          type:
          - string
          - 'null'
        mrz_line_1:
          description: First line of the Machine Readable Zone (MRZ).
          type:
          - string
          - 'null'
        mrz_line_2:
          description: Second line of the Machine Readable Zone (MRZ).
          type:
          - string
          - 'null'
        document_type:
          description: Classification label extracted from the document.
          type:
          - string
          - 'null'
      required:
      - co_owner_information
      - document_number
      - document_type
      - first_registration_date
      - issuance_date
      - licence_plate_number
      - mrz_line_1
      - mrz_line_2
      - owner_information
      - vehicle_identification_number
      - vehicle_information
      - vehicle_max_weight
      - vehicle_motor_information
      - vehicle_next_inspection_date
      title: French Vehicle Registration Document Extraction
      type: object
    AnalysisType:
      additionalProperties: false
      description: 'Controls what the Document Analysis performs.


        - When `extraction` is `true` (default), data is extracted from the document and a document `type` is **required**.

        - When `extraction` is `false` (fraud-only), no `type` must be provided and `fraud_level` must be `advanced`.

        '
      properties:
        extraction:
          default: true
          description: 'Whether to extract data from the document. Defaults to `true` when omitted.

            Set to `false` to run a fraud-only analysis (no data extraction).

            '
          example: true
          type: boolean
        fraud_level:
          description: 'Level of fraud detection to run. `null` (default) disables fraud detection.

            Not supported for type `tax_notice`. Must be `advanced` when `extraction` is `false`.

            '
          enum:
          - none
          - advanced
          example: advanced
          type:
          - string
          - 'null'
      title: AnalysisType
      type: object
    TaxNoticeExtraction_2d_doc:
      additionalProperties: false
      description: The 2D document extracted from the document.
      properties:
        full_name_1:
          description: The holder full name of the first declarant extracted from the 2D document.
          example: Doe John
          type:
          - string
          - 'null'
        fiscal_number_1:
          description: The fiscal number of the first declarant extracted from the 2D document.
          example: 0312345678901
          type:
          - string
          - 'null'
        full_name_2:
          description: The holder full name of the second declarant extracted from the 2D document.
          example: Doe Jane
          type:
          - string
          - 'null'
        fiscal_number_2:
          description: The fiscal number of the second declarant extracted from the 2D document.
          example: 0398765432109
          type:
          - string
          - 'null'
        tax_notice_reference:
          description: The tax notice reference number extracted from the 2D document.
          example: 2412B01234567
          type:
          - string
          - 'null'
        income_year:
          description: Year of incomes (usually the year before document issuance) extracted from the 2D document.
          example: 2024
          type:
          - integer
          - 'null'
        reference_income:
          description: The fiscal reference income extracted from the 2D document.
          example: 30000
          type:
          - integer
          - 'null'
        parts_count:
          description: Number of parts in the household extracted from the 2D document.
          example: 1
          type:
          - integer
          - 'null'
      required:
      - fiscal_number_1
      - fiscal_number_2
      - full_name_1
      - full_name_2
      - income_year
      - parts_count
      - reference_income
      - tax_notice_reference
      type: object
    VehicleRegistrationDocumentCheck:
      additionalProperties: false
      description: Checks performed on the document.
      example:
        vehicle_owner:
          owner_name:
            extracted: John Doe
            expected: John Doe
            match_level: exact
      properties:
        vehicle_owner:
          $ref: '#/components/schemas/TemporaryVehicleRegistrationDocumentCheck_vehicle_owner'
      required:
      - vehicle_owner
      title: Vehicle Registration Document Checks
      type:
      - object
      - 'null'
    InitiateTaxNotice_checks:
      additionalProperties: false
      description: Checks to perform on the document.
      example:
        full_name_check:
          first_name: John
          last_name: Doe
        income_year_check:
          income_year: '2024'
      properties:
        full_name_check:
          $ref: '#/components/schemas/InitiateTaxNotice_checks_full_name_check'
        income_year_check:
          $ref: '#/components/schemas/InitiateTaxNotice_checks_income_year_check'
      type:
      - object
      - 'null'
    InitiateTemporaryVehicleRegistrationDocument:
      additionalProperties: false
      properties:
        file:
          description: 'The file containing the data to extract.

            Accepted formats: PDF, PNG, JPG, JPEG.

            Max size: 25 MB.

            Max number of pages per PDF: 10.

            '
          example: Binary file
          format: binary
          type: string
        type:
          description: Type of document you want to analyze. Will be used to match the detected document type.
          enum:
          - temporary_vehicle_registration_document
          example: temporary_vehicle_registration_document
          type: string
        country_code:
          description: 'The country code of the document.

            Currently only Italian temporary vehicle registration documents are supported.

            '
          enum:
          - IT
          example: IT
          type: string
        workspace_id:
          description: 'Scopes the Document Analysis to a specific workspace.

            Defaults to the default workspace if not specified.

            '
          example: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
          format: uuid
          type:
          - string
          - 'null'
        workflow_session_id:
          $ref: '#/components/schemas/WorkflowSessionId'
        previous_attempt_id:
          $ref: '#/components/schemas/PreviousAttemptId'
        analysis_type:
          $ref: '#/components/schemas/AnalysisTypeMultipart'
        checks:
          $ref: '#/components/schemas/InitiateTemporaryVehicleRegistrationDocument_checks'
      required:
      - country_code
      - file
      - type
      title: Initiate Temporary Vehicle Registration Document
      type: object
    CompanyCertificateExtraction_legal_representatives_inner:
      properties:
        type:
          description: Type of the legal representative extracted from the list of legal representatives in the document.
          enum:
          - natural_person
          - legal_person
          type: string
        function:
          description: Function of the individual extracted from the list of legal representatives in the document.
          type:
          - string
          - 'null'
        first_name:
          description: First name of the individual extracted from the list of legal representatives in the document.
          type:
          - string
          - 'null'
        last_name:
          description: Last name of the individual extracted from the list of legal representatives in the document.
          type:
          - string
          - 'null'
        full_name:
          description: Full name of the individual extracted from the list of legal representatives in the document.
          type:
          - string
          - 'null'
        company_name:
          description: Company name extracted from the list of legal representatives in the document.
          type:
          - string
          - 'null'
        company_number:
          description: Company number extracted from the list of legal representatives in the document.
          type:
          - string
          - 'null'
      required:
      - company_name
      - company_number
      - first_name
      - full_name
      - function
      - last_name
      - type
      type: object
    InitiateVehicleRegistrationDocument_checks_vehicle_owner:
      additionalProperties: false
      description: Vehicle owner information to check against the document.
      properties:
        type:
          description: Type of the vehicle owner.
          enum:
          - natural_person
          - legal_person
          type: string
        first_name:
          description: Expected first name of the vehicle owner. Required for natural persons.
          type:
          - string
          - 'null'
        last_name:
          description: Expected last name of the vehicle owner. Required for natural persons.
          type:
          - string
          - 'null'
        company_name:
          description: Expected company name of the vehicle owner. Required when type is `legal_person`.
          type:
          - string
          - 'null'
      required:
      - first_name
      - last_name
      - type
      type: object
    ItalianVehicleRegistrationDocumentExtraction_vehicle_motor_information:
      additionalProperties: false
      properties:
        vehicle_fuel_type:
          description: Type of fuel used by the vehicle.
          type:
          - string
          - 'null'
        vehicle_max_power:
          description: Maximum power of the vehicle engine.
          type:
          - number
          - 'null'
        vehicle_displacement_type:
          description: Displacement type of the vehicle engine.
          type:
          - number
          - 'null'
      required:
      - vehicle_displacement_type
      - vehicle_fuel_type
      - vehicle_max_power
      type: object
    CompanyCertificateFull:
      allOf:
      - $ref: '#/components/schemas/DocumentAnalysisMeta_1'
      - properties:
          type:
            enum:
            - company_certificate
            type: string
          extracted_from_document:
            $ref: '#/components/schemas/CompanyCertificateExtraction'
          checks:
            $ref: '#/components/schemas/CompanyCertificateCheck'
        type: object
      required:
      - checks
      - country_code
      - created_at
      - data_anonymized
      - extracted_from_document
      - id
      - previous_attempt_id
      - status
      - type
      - updated_at
      - workflow_session_id
      - workspace_id
      title: Company Certificate
      type: object
    InitiateSocialSecurity_checks:
      additionalProperties: false
      description: Checks to perform on the document.
      example:
        first_name: John
        last_name: Doe
      properties:
        first_name:
          description: Expected first name extracted from the document.
          type: string
        last_name:
          description: Expected last name extracted from the document.
          type: string
      required:
      - first_name
      - last_name
      type:
      - object
      - 'null'
    BusinessRegistrationCertificateExtraction:
      additionalProperties: false
      description: Extracted data from the document.
      example:
        issuance_date: '2025-01-01'
        company_description:
          active: true
          legal_form: Entreprise individuelle
          company_name: null
          company_number: 123 4567 890
          headquarter_company_number: 123 4567 890 12345
          first_name: John
          last_name: Doe
          full_name: John Doe
        branch_description:
          active: true
          branch_company_number: 123 4567 890 12345
          address: 1 rue de la paix, 75000 Paris
          city: Paris
          postal_code: '75000'
        document_type: Avis de situation
      properties:
        issuance_date:
          description: Issuance date extracted from the document.
          type:
          - string
          - 'null'
        company_description:
          $ref: '#/components/schemas/BusinessRegistrationCertificateExtraction_company_description'
        branch_description:
          $ref: '#/components/schemas/BusinessRegistrationCertificateExtraction_branch_description'
        document_type:
          description: Classification label extracted from the document.
          type:
          - string
          - 'null'
      required:
      - branch_description
      - company_description
      - document_type
      - issuance_date
      title: Business Registration Certificate Extraction
      type: object
    InitiateDocumentAnalysisFromApplicant:
      additionalProperties: false
      properties:
        applicant_id:
          description: The Applicant ID linked to the Workflow Session.
          example: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
          format: uuid
          type: string
        type:
          allOf:
          - $ref: '#/components/schemas/DocumentAnalysisType'
        analysis_type:
          $ref: '#/components/schemas/AnalysisType'
        country_code:
          description: 'The country code of the document.

            Required when `type` is `vehicle_registration_document` (accepted: `FR`, `IT`), `tax_notice` (accepted: `FR` only), `payslip` (accepted: `FR`, `IT`) or `invoice` (accepted: `FR` only).

            '
          enum:
          - FR
          - IT
          example: FR
          type: string
        checks:
          $ref: '#/components/schemas/InitiateDocumentAnalysisFromApplicant_checks'
      required:
      - applicant_id
      title: Attach a new Document Analysis to an Applicant
      type: object
    TooManyRequestsResponse:
      properties:
        message:
          type: string
      required:
      - message
      title: TooManyRequestsResponse
      type: object
    InitiateTaxNotice_checks_full_name_check:
      additionalProperties: false
      description: Expected full name to check against the document.
      properties:
        first_name:
          description: Expected first name to check against the document.
          type: string
        last_name:
          description: Expected last name to check against the document.
          type: string
      required:
      - first_name
      - last_name
      type: object
    InitiateInvoice:
      additionalProperties: false
      properties:
        file:
          description: 'The file containing the data to extract.

            Accepted formats: PDF, PNG, JPG, JPEG.

            Max size: 10 MB.

            Max number of pages for PDF: 3.

            '
          example: Binary file
          format: binary
          type: string
        type:
          description: Type of document you want to analyze. Will be used to match the detected document type.
          enum:
          - invoice
          example: invoice
          type: string
        country_code:
          description: The country code of the invoice.
          enum:
          - FR
          example: FR
          type: string
        workspace_id:
          description: 'Scopes the Document Analysis to a specific workspace.

            Defaults to the default workspace if not specified.

            '
          example: 9a93d3b5-fb3b-4abf-9e70-26315b33506c
          format: uuid
          type:
          - string
          - 'null'
        workflow_session_id:
          $ref: '#/components/schemas/WorkflowSessionId'
        previous_attempt_id:
          $ref: '#/components/schemas/PreviousAttemptId'
      required:
      - country_code
      - file
      - type
      title: Initiate Invoice Document
      type: object
    TemporaryVehicleRegistrationDocumentFull:
      allOf:
      - $ref: '#/components/schemas/DocumentAnalysisMeta_1'
      - properties:
          type:
            enum:
            - temporary_vehicle_registration_document
            type: string
          country_code:
            enum:
            - IT
            type: string
          extracted_from_document:
            $ref: '#/components/schemas/TemporaryVehicleRegistrationDocumentExtraction'
          checks:
            $ref: '#/components/schemas/TemporaryVehicleRegistrationDocumentCheck'
        type: object
      required:
      - checks
      - country_code
      - created_at
      - data_anonymized
      - extracted_from_document
      - id
      - previous_attempt_id
      - status
      - type
      - updated_at
      - workflow_session_id
      - workspace_id
      title: Temporary Vehicle Registration Document
      type: object
    InitiateTaxNotice_checks_income_year_check:
      additionalProperties: false
      description: Expected income year to check against the document.
      properties:
        income_year:
          description: Expected income year to check against the document.
          pattern: ^[0-9]{4}$
          type: string
      required:
      - income_year
      type: object
    InitiateTemporaryVehicleRegistrationDocument_checks:
      additionalProperties: false
      description: Checks to perform on the document.
      example:
        vehicle_owner:
          type: natural_person
          first_name: John
          last_name: Doe
      properties:
        vehicle_owner:
          $ref: '#/components/schemas/InitiateTemporaryVehicleRegistrationDocument_checks_vehicle_owner'
      required:
      - vehicle_owner
      type:
      - object
      - 'null'
    UnauthorizedResponse:
      properties:
        type:
          type: string
        detail:
          type: string
      required:
      - detail
      - type
      title: UnauthorizedResponse
      type: object
    PayslipFull:
      allOf:
      - $ref: '#/components/schemas/DocumentAnalysisMeta_1'
      - properties:
          type:
            enum:
            - payslip
            type: string
          extracted_from_document:
            $ref: '#/components/schemas/PayslipExtraction'
          checks:
            $ref: '#/components/schemas/PayslipCheck'
        type: object
      required:
      - checks
      - country_code
      - created_at
      - data_anonymized
      - extracted_from_document
      - id
      - previous_attempt_id
      - status
      - type
      - updated_at
      - workflow_session_id
      - workspace_id
      title: Payslip
      type: object
    ItalianVehicleRegistrationDocumentExtraction:
      additionalProperties: false
      description: Extracted data from an Italian vehicle registration document.
      properties:
        licence_plate_number:
          description: Licence plate number of the vehicle.
          type:
          - string
          - 'null'
        first_registration_date:
          description: Date of first registration of the vehicle.
          format: date
          type:
          - string
          - 'null'
        owner_information:
          $ref: '#/components/schemas/ItalianVehicleRegistrationDocumentExtraction_owner_information'
        co_owner_information:
          description: List of co-owners of the vehicle.
          items:
            $ref: '#/components/schemas/FrenchVehicleRegistrationDocumentExtraction_co_owner_information_inner'
          type: array
        deed_informations:
          description: List of deed informations related to the vehicle.
          items:
            $ref: '#/components/schemas/ItalianVehicleRegistrationDocumentExtraction_deed_informations_inner'
          type: array
        vehicle_information:
          $ref: '#/components/schemas/FrenchVehicleRegistrationDocumentExtraction_vehicle_information'
        vehicle_body:
          description: Body type of the vehicle.
          type:
          - string
          - 'null'
        vehicle_identification_number:
          description: Vehicle Identification Number (VIN).
          type:
          - string
          - 'null'
        vehicle_total_mass:
          description: Total mass of the vehicle.
          type:
          - number
          - 'null'
        vehicle_motor_information:
          $ref: '#/components/schemas/ItalianVehicleRegistrationDocumentExtraction_vehicle_motor_information'
        document_type:
          description: Classification label extracted from the document.
          type:
          - string
          - 'null'
        issuance_date:
          description: Issuance date of the document.
          format: date
          type:
          - string
          - 'null'
        vehicle_approval_number:
          description: Vehicle approval number.
          type:
          - string
          - 'null'
        vehicle_destination_and_use:
          description: Destination and use of the vehicle.
          type:
          - string
          - 'null'
        international_vehicle_category:
          description: International vehicle category.
          type:
          - string
          - 'null'
        mass_of_the_vehicle_in_service:
          description: Mass of the vehicle in service.
          type:
          - number
          - 'null'
        vehicle_maximum_technical_mass:
          description: Maximum technical mass of the vehicle.
          type:
          - number
          - 'null'
        vehicle_maximum_permissible_mass:
          description: Maximum permissible mass of the vehicle.
          type:
          - number
          - 'null'
      required:
      - co_owner_information
      - deed_informations
      - document_type
      - first_registration_date
      - international_vehicle_category
      - issuance_date
      - licence_plate_number
      - mass_of_the_vehicle_in_service
      - owner_information
      - vehicle_approval_number
      - vehicle_body
      - vehicle_destination_and_use
      - vehicle_identification_number
      - vehicle_information
      - vehicle_maximum_permissible_mass
      - vehicle_maximum_technical_mass
      - vehicle_motor_information
      - vehicle_total_mass
      title: Italian Vehicle Registration Document Extraction
      type: object
    BusinessRegistrationCertificateFull:
      allOf:
      - $ref: '#/components/schemas/DocumentAnalysisMeta_1'
      - properties:
          type:
            enum:
            - business_registration_certificate
            type: string
          extracted_from_document:
            $ref: '#/components/schemas/BusinessRegistrationCertificateExtraction'
          checks:
            $ref: '#/components/schemas/BusinessRegistrationCertificateCheck'
        type: object
      required:
      - checks
      - country_code
      - created_at
      - data_anonymized
      - extracted_from_document
      - id
      - previous_attempt_id
      - status
      - type
      - updated_at
      - workflow_session_id
      - workspace_id
      title: Business Registration Certificate
      type: object
    TaxNoticeCheck_income_year:
      additionalProperties: false
      example:
        extracted: 2024
        expected: 2024
        match_level: exact
      properties:
        extracted:
          description: The extracted value from the document.
          type:
          - integer
          - 'null'
        expected:
          description: The expected value for the check.
          type: integer
        match_level:
          $ref: '#/components/schemas/DocumentAnalysisMatchLevel'
      required:
      - expected
      - extracted
      - match_level
      type: object
    BadRequestResponse:
      properties:
        type:
          type: string
        detail:
          type: string
      required:
      - detail
      - type
      title: BadRequestResponse
      type: object
    BusinessRegistrationCertificateExtraction_branch_description:
      properties:
        address:
          description: Address extracted from the document.
          type:
          - string
          - 'null'
        city:
          description: City extracted from the document.
          type:
          - string
          - 'null'
        postal_code:
          description: Postal code extracted from the document.
          type:
          - string
          - 'null'
        active:
          description: Indicates whether the branch is active or not.
          type:
          - boolean
          - 'null'
        branch_company_number:
          description: Branch company number extracted from the document.
          type:
          - string
          - 'null'
      required:
      - active
      - address
      - branch_company_number
      - city
      - postal_code
      type: object
    InitiateDocumentAnalysisFromMultipart:
      oneOf:
      - $ref: '#/components/schemas/InitiateSocialSecurity'
      - $ref: '#/components/schemas/InitiateCompanyCertificate'
      - $ref: '#/components/schemas/InitiateBusinessRegistrationCertificate'
      - $ref: '#/components/schemas/InitiateDriverLicence'
      - $ref: '#/components/schemas/InitiateRNECertificate'
      - $ref: '#/components/schemas/InitiateTemporaryVehicleRegistrationDocument'
      - $ref: '#/components/schemas/InitiateVehicleRegistrationDocument'
      - $ref: '#/components/schemas/InitiateAutoInsuranceClaimsHistory'
      - $ref: '#/components/schemas/InitiateTaxNotice'
      - $ref: '#/components/schemas/InitiatePayslip'
      - $ref: '#/components/schemas/InitiateInvoice'
      - $ref: '#/components/schemas/InitiateFraudOnly'
      type: object
    ItalianVehicleRegistrationDocumentExtraction_deed_informations_inner:
      additionalProperties: false
      properties:
        deed_date:
          description: Date of the deed.
          type:
          - string
[...]
